body {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.font-main {
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 700;
}

.white-main {
  color: #ffffff;
  background-color: #81b3d2;
}

.form-font {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 14px;
}

.header-font {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation a {
  text-decoration: underline;
  font-weight: 700;
  line-height: 26px;
  color: inherit;
  text-decoration: none;
}



.sedona-intro {
  background: #e3f0f8;
  background-image: url("../img/sedona-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  height: 508px;
  position: relative;
}

.slogan-interested {
  text-align: center;
  padding-top: 58px;
  padding-bottom: 32px;
  position: relative;
}

.slogan h2,
.hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.hotel-search h3 {
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 36px;
  margin-top: 0px;
}

.hotel-search p {
  margin-bottom: 88px;
  margin-top: 0px;

}

.map {
  position: relative;
}

.search-form {
  background-color: #ffffff;
  background-position: 0 0;
  position: absolute;
  top: 0px;
  left: 50%;
  width: 568px;
  padding: 55px 55px;
  margin-left: -284px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  display: flex;
}

.check-in-out {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.check-in-out input {
  width: 345px;
}

.guest input {
  width: 114px;
}

.guest {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.guest p:first-child {
  margin-right: 53px;
}

.modal-window {
  padding: 0px;
  margin: 0;
}


.find {
  display: flex;
  flex-wrap: wrap;
}

.search-form fieldset {
  border-style: none;
}

.search-form input::placeholder {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.modal-find {
  background-color: #81b3d2;
  padding: 18px 198px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;

}

.modal-login {
  background-color: #766357;
  width: 568px;
  padding: 33px 137px 33px 137px;
  text-decoration: none;
  color: #ffffff;
}

.modal-login:hover {
  background-color: #604e44;
}

.modal-login:active {
  background-color: #503e32;
  color: #918680;
}

.modal-form input[type="text"] {
  background-color: #f2f2f2;
  min-height: 37px;
  padding: 0;
  border: 1px;
}

.btn {
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
}

.btn-catalog {
  font-size: 14px;
  line-height: 21px;
  margin-top: 6px;
}

.btn-main {
  font-size: 21px;
  line-height: 26px;
}

.btn-blue {
  background-color: #81b3d2;
  margin-right: 6px;
  margin-bottom: 30px;
}

.btn-blue:hover {
  background-color: #669ec0;
}

.btn-blue:active {
  background-color: #5496bd;
  color: #93b9d0;
}

.btn-brown {
  background-color: #766357;
  margin-bottom: 30px;
}

.btn-brown:hover {
  background-color: #604e43;
}

.btn-brown:active {
  background-color: #503e33;
  color: #938a85;
}

.sort-category {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 36px;
  padding-left: 12px;
}

.sort-category p {
  margin: 0;
  margin-right: 41px;
}

.sort-category h2 {
  padding-top: 31px;
  margin: 0;
  margin-right: 51px;
}

.sort-category li:not(:nth-child(1)) {
  padding-top: 39px;
}


.sort-category li:not(:first-of-type) {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sort-category-item a {
  text-decoration: none;
  color: #81b3d2;
  margin-right: 35px;
}

.sort-category-items a {
  border-bottom: 1px dotted #81b3d2;
  color: #b6b6b6;
  text-decoration: none;
  margin-right: 35px;
}

.sort-category-items a:hover {
  color: #81b3d2;
}

.sort-category-items a:active {
  color: #000000;
  border-bottom: 1px dotted #000000;
}

.description-block {
  background-color: #81b3d2;
  display: flex;
  justify-content: space-between;
}

.filter {
  background-image: url("../img/blurred-background.png");
  height: 217px;
  background-repeat: no-repeat;
}

.advantages {
  background-color: #eeeeee;
}


.navigation-list {

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navigation-list a:hover {
  color: #81b3d2;
}

.navigation-list a:active {
  color: #dbdbdb;

}

.main-header-logo {
  display: block;
  width: 140px;
  height: 72px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 1;
}


.features {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.features-1 {
  padding-top: 60px;
  padding-bottom: 89px;
}

.features-2 {
  padding-top: 51px;
  padding-bottom: 66px;

}

.html-academy {
  width: 115px;
  height: 41px;
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 28px 104px 28px 130px;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fdfdfd;
  opacity: 0.9;
  box-sizing: border-box;
}

.description-item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.description-item-1 {
  padding-left: 54px;
  padding-right: 59px;
  padding-top: 50px;
  padding-bottom: 66px;

}

.description-item-2 {
  padding-left: 52px;
  padding-right: 49px;
  padding-top: 50px;
  padding-bottom: 68px;
}

.restaurant-pic {
  display: flex;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);

}

.feature-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature-item p {
  text-align: center;
}

.feature-item h {
  text-align: center;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 152px;

}

.social-link {
  width: 47px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #81b3d3;
}

.copyright {
  display: flex;
  align-items: center;
}

.header {
  position: relative;
}

.intro-welcome {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 459px;
  height: 353px;
  position: relative;
}

.filter-border {
  border: 0px;
}

.filter-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 31px;

}

.search-results {
  display: flex;
  justify-content: space-between;
}

.hotel-list {
  display: flex;
  flex-direction: column;
  border-top: 2px solid #e5e5e5;

}

.hotel-item {
  display: flex;
  padding-right: 74px;
  border-bottom: 2px solid #e5e5e5;
  padding-top: 31px;
  padding-bottom: 31px;
}

.hotel-inform h2 {
  margin-bottom: 0;
  margin-top: 0;
}

.price p {
  margin-bottom: 0;
  margin-top: 0px;
}

.hotel-item-name img {
  border-style: none;
  padding-left: 72px;
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: #b2b2b2;
}

.hotel-inform {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  max-height: 90px;
}


.price {
  display: flex;
  flex-direction: row;
  padding-right: 75px;
}

.price p:first-child {
  margin-right: auto;
}

.hotel-button {
  display: flex;
  flex-direction: row;
}

.rating {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.rating p {
  background: #f2f2f2;
  padding: 8px 13px 8px 13px;
}

.rating-stars {
  display: flex;
  flex-direction: row;

}

.arrows {
  display: flex;
  padding-right: 73px;
  padding-top: 37px;
}

.arrow-down {
  fill: #c9c9c9;
}

.arrow-down:hover {
  fill: #231f20;
}

.arrow-down:active {
  fill: #82b3d1;
}

.arrows li:first-child {
  margin-right: 12px;
}

.social-link:hover {
  background-color: #669ec0;
}

.social-link:active {
  background-color: #5496bd;
}

.html-academy:hover {
  fill: #81b3d2;
}

.html-academy:active {
  fill: #bdbbbc;
}

.text-box {
  position: relative;
}

.text-box-1 {
  margin-left: 17px;
}

.text-box-2 {
  margin-left: 38px;
}

.text-box-3 {
  margin-left: 25px;
}

.icon-calendar {
  background-repeat: no-repeat;
  position: absolute;
}


.slogan-interested::before {
  content: "";
  background-image: url("../img/polygon.svg");
  position: absolute;
  height: 57px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.filter-range {
  width: 330px;
  margin: 50px auto;

  color: #ffffff;
  text-transform: uppercase;
}

.price-scale {
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  position: relative;
}

.price-scale label {
  display: inline-block;
  font-size: 14px;
  line-height: 26px;
  vertical-align: top;
  cursor: pointer;
}

.price-scale .minimum-value,
.price-scale .maximum-value {
  width: 330px;
  padding-left: 65px;
}

.price-scale input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.price-scale::after {
  content: "";
  position: absolute;

  width: 2px;
  height: 22px;
  top: 50%;
  left: 50%;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
  background: #ababab;
  border: 8px solid #ffffff;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  background: #1c4f80;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}
