body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

label {
  position: relative;
  line-height: 45px;
}

.font-main {
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 700;
  margin-top: 19px;
  max-width: 151px;
}

.white-main {
  color: #ffffff;
  background-color: #81b3d2;
  max-width: 301px;
}

.form-font {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 0px;
  margin-left: 3px;
  margin-bottom: 10px;
}

.header-font {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  list-style: none;
  margin: 0;
}

.reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation a {
  text-decoration: underline;
  font-weight: 700;
  line-height: 26px;
  color: inherit;
  text-decoration: none;
}

.sedona-intro {
  background: #e3f0f8;
  background-image: url(../img/sedona-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 0px;
  height: 508px;
  position: relative;
}

.hotel-search {
  text-align: center;
  padding-bottom: 26px;
  position: relative;
  line-height: 27px;
}

.hotel-search h2 {
  letter-spacing: 0.16px;
}

.slogan-interested {
  text-align: center;
  padding-top: 42px;
  padding-bottom: 37px;
  position: relative;
  line-height: 27px;
}

.slogan-interested h2 {
  letter-spacing: 0.16px;
  padding-left: 303px;
  padding-right: 303px;
}

.slogan-interested p {
  padding-top: 7px;
}

.slogan h2,
.hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  margin-left: 2px;
}

.hotel-search h3 {
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 18px;
  margin-top: 55px;
}

.hotel-search p {
  margin-bottom: 76px;
  margin-top: 24px;
}

.map {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  height: 593px;
}

.map > iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  background-color: #f2f1ef;
  background-image: url(../img/map.png);
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  width: 458px;
  left: 316px;
  top: 0;
  padding-left: 56px;
  padding-right: 54px;
  padding-bottom: 55px;
  padding-top: 55px;
  background-color: #fbfbfb;
  -webkit-box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  color: #000;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.search-form-show {
  display: none;
  z-index: 1;
}

.input-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-bottom: 21px;
}

.input-date {
  padding-bottom: 3px;
  padding-top: 3px;
  padding-left: 9px;
  padding-right: 40px;
  margin-left: 22px;
  margin-bottom: 6px;
  min-height: 37px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: 2px solid transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.search-form fieldset {
  border-style: none;
}

.search-form input::-webkit-input-placeholder {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.search-form input::-moz-placeholder {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.search-form input:-ms-input-placeholder {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.search-form input::-ms-input-placeholder {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.search-form input::placeholder {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.calendar-button {
  border: none;
  fill: #cacaca;
  outline: 0;
  position: absolute;
  right: 2px;
  top: 10px;
  background-color: transparent;
  cursor: pointer;
}

.calendar-button:hover {
  fill: #000000;
}

.calendar-button:active {
  fill: #82b3d3;
}

.adult-button:hover {
  color: #000000;
}

.adult-button:active {
  color: #84b3d1;
}

.amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: relative;
}

.adult-amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.adult-amount:first-child {
  margin-right: auto;
}

.adult-input {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #0e0e0e;
  border: none;
  padding: 0;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  cursor: pointer;
}

.adult-amount label {
  margin-right: 40px;
}
.adult-amount:nth-of-type(2) label {
  margin-right: 26px;
}
.adult-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #a9a9a9;
  border: none;
  padding: 0;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  cursor: pointer;
  position: relative;
}

.modal-login {
  background-color: #766357;
  width: 568px;
  padding: 32px 142px 30px 137px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}

.modal-login:hover {
  background-color: #604e44;
}

.modal-login:active {
  background-color: #503e32;
  color: #918680;
}

.modal-form input[type="text"] {
  background-color: #f2f2f2;
  min-height: 37px;
  padding: 0;
  border: 1px;
  padding-left: 19px;
}

.btn {
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  padding-right: 19px;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
}

.btn-catalog {
  font-size: 14px;
  line-height: 11px;
  margin-top: 14px;
}

.btn-main {
  font-size: 21px;
  line-height: 26px;
}

.btn-blue {
  background-color: #81b3d2;
  margin-right: 5px;
  padding-right: 18px;
}

.btn-blue:hover {
  background-color: #669ec0;
}

.btn-blue:active {
  background-color: #5496bd;
  color: #93b9d0;
}

.btn-brown {
  background-color: #766357;
}

.btn-brown:hover {
  background-color: #604e43;
}

.btn-brown:active {
  background-color: #503e33;
  color: #938a85;
}

.sort-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 29px;
  padding-left: 12px;
}

.sort-category p {
  margin: 0;
  margin-right: 41px;
}

.sort-category h2 {
  padding-top: 32px;
  margin: 0;
  margin-right: 51px;
  padding-left: 61px;
}

.sort-category li:not(:nth-child(1)) {
  padding-top: 39px;
}

.sort-category li:not(:first-of-type) {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sort-category-item a {
  text-decoration: none;
  color: #81b3d2;
  margin-right: 35px;
}

.sort-category-items a {
  border-bottom: 1px dotted #81b3d2;
  color: #b6b6b6;
  text-decoration: none;
  margin-right: 35px;
}

.sort-category-items a:hover {
  color: #81b3d2;
}

.sort-category-items a:active {
  color: #000000;
  border-bottom: 1px dotted #000000;
}

.description-block {
  background-color: #81b3d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 0px;
  padding-top: 0px;
}

.filter {
  background-image: url(../img/blurred-background.png);
  background-color: #e3f0f8;
  background-repeat: no-repeat;
}

.advantages {
  background-color: #eeeeee;
}

.advantage-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 33.33%;
  padding: 27px 0px 39px 0px;
}

.advantage-item h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  padding-left: 124px;
  padding-right: 124px;
}

.advantage-item p {
  max-width: 279px;
  text-align: center;
  margin: 0px;
  margin-bottom: 22px;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 72px;
  padding-right: 70px;
}

.navigation-list-item {
  width: 20%;
}

.navigation-list-item:nth-of-type(1),
.navigation-list-item:nth-of-type(2) {
  text-align: left;
}

.navigation-list-item:nth-of-type(2) {
  padding-left: 33px;
}

.navigation-list-item:nth-of-type(3) {
  padding-right: 32px;
}

.navigation-list-item:nth-child(3),
.navigation-list-item:nth-child(4) {
  text-align: right;
}

.navigation-list-item:nth-child(3) {
  margin-left: auto;
}

.navigation-list a:hover {
  color: #81b3d2;
}

.navigation-list a:active {
  color: #dbdbdb;
}

.main-header-logo {
  display: block;
  width: 140px;
  height: 72px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  z-index: 1;
}

.features-1,
.features-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.html-academy {
  width: 115px;
  height: 41px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 28px 100px 25px 133px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fdfdfd;
  opacity: 0.9;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.contacts h3 {
  font-size: 21px;
}

.description-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.description-item-1 {
  padding-top: 28px;
  padding-bottom: 12px;
  width: 400px;
}

.description-item-2 {
  padding-left: 50px;
  padding-right: 49px;
  padding-top: 29px;
  padding-bottom: 0px;
}

.attraction-description {
  margin: 0;
  margin-bottom: 8px;
  margin-top: 3px;
  margin-right: 3px;
}

.attraction-description-2 {
  margin: 0;
  margin-bottom: 10px;
}

.restaurant-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rest-size {
  width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  width: 33.33%;
  padding: 130px 55px 58px 55px;
}

.feature-item:nth-of-type(1)::before {
  background-image: url(../img/icon-1.svg);
  width: 75px;
  height: 72px;
}

.feature-item:nth-of-type(2)::before {
  background-image: url(../img/icon-3.svg);
  width: 74px;
  height: 70px;
}

.feature-item:nth-of-type(3)::before {
  background-image: url(../img/icon-2.svg);
  width: 64px;
  height: 76px;
}

.feature-item:before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.feature-item p {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 24px;
}

.feature-item h3 {
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  margin-top: 31px;
  margin-left: 3px;
  margin-bottom: 24px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 152px;
  margin-bottom: 11px;
  margin-right: 0px;
  margin-left: 27px;
  margin-top: 10px;
}

.social-link {
  width: 47px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #81b3d3;
}

.copyright a {
  margin-left: 9px;
}

.copyright p {
  margin: 0px;
  margin-bottom: 6px;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 0px;

  margin-right: 0px;
}

.header {
  position: relative;
}

.intro-welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
  width: 459px;
  height: 353px;
  position: relative;
  padding-top: 75px;
}

.filter-border {
  border: 0px;
  padding: 0;
  margin: 0;
}

.filter-border:nth-child(2) {
  margin-left: 115px;
}

.filter-border:last-child {
  margin-left: auto;
  margin-bottom: 12px;
}

.filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 72px;
  padding-right: 63px;
  padding-bottom: 20px;
  padding-top: 28px;
}

.search-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hotel-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-top: 2px solid #e5e5e5;
}

.hotel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 73px;
  border-bottom: 2px solid #e5e5e5;
  padding-top: 18px;
  padding-bottom: 24px;
}

.hotel-inform h2 {
  margin-bottom: 6px;
  margin-top: 0;
}

.price p {
  margin-bottom: 0;
  margin-top: 0px;
}

.hotel-item-name img {
  border-style: none;
  padding-left: 72px;
  padding-top: 11px;
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: #b2b2b2;
}

.hotel-inform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 30px;
  max-height: 90px;
  padding-bottom: 7px;
  padding-top: 7px;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-right: 75px;
}

.price p:first-child {
  margin-right: auto;
}

.hotel-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: auto;
}

.rating p {
  background: #f2f2f2;
  padding: 4px 13px 5px 18px;
  margin-bottom: 0px;
  margin-top: 39px;
}

.rating-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-top: 10px;
  padding-left: 0px;
}

.star {
  margin-right: 5px;
}

.arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 73px;
  padding-top: 37px;
}

.arrow-down:hover {
  fill: #231f20;
}

.arrow-down:active {
  fill: #82b3d1;
}

.arrows li:first-child {
  margin-right: 12px;
}

.social-link:hover {
  background-color: #669ec0;
}

.social-link:active {
  background-color: #5496bd;
}

.social-link:active path {
  fill: #88b6d1;
}

.html-academy:hover {
  fill: #81b3d2;
}

.html-academy:active {
  fill: #bdbbbc;
}

.sedona-intro::after {
  content: "";
  position: absolute;
  height: 57px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../img/intro-mask.svg);
}

.filter-range {
  width: 328px;
}

.price-scale {
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  position: relative;
  max-width: 315px;
}

.price-scale label {
  display: inline-block;
  font-size: 14px;
  line-height: 26px;
  vertical-align: top;
  cursor: pointer;
}

.price-scale label:nth-child(2) {
  margin-left: 79px;
  margin-top: 3px;
}

.price-scale label:nth-child(1) {
  margin-left: 67px;
  margin-top: 3px;
}

.price-scale .minimum-value,
.price-scale .maximum-value {
  width: 330px;
  padding-left: 65px;
}

.price-scale input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.price-scale::after {
  content: "";
  position: absolute;

  width: 2px;
  height: 22px;
  top: 50%;
  left: 50%;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
  background: #ababab;
  border: 8px solid #ffffff;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 77%;
}

.range-toggle:hover {
  background: #1c4f80;
}

.btn-transparent {
  display: block;
  margin: 0px;
  margin-left: 88px;
  padding: 6px 34px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.checkbox input[type="checkbox"] + .checkbox-indicator::before {
  content: "";
  position: absolute;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  width: 27px;
  height: 23px;
  left: -41px;
  top: -2px;
  cursor: pointer;
  margin-bottom: 21px;
}

.checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  background-image: url(../img/checkbox-on.svg);
}

.checkbox input[type="checkbox"]:focus + .checkbox-indicator::before {
  outline: 2px solid #4d90fe;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-find {
  background-color: #81b3d2;
  color: #fff;
  padding: 17px 27px;
  font-size: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.modal-find:hover {
  background-color: #669ebf;
}

.modal-find:active {
  background-color: #5596be;
  color: #7faecc;
}
